/* Define CSS variables */
:root {
  --primary-font: 'Poppins', sans-serif;
  --main-color: #D84315; 
  --secondary-color: #FFD180;     
  --padding-mobile: 1rem;
  --padding-tablet: 2rem;
  --padding-desktop: 3rem;
}

/* Reset default browser styles */
* {
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  background-color: var(--background-color);
  color: var(--main-color);
  line-height: 1.5;
}

/* Root container styles */
#root {
  max-width: 1300px;
  min-width: 320px;
  margin: 0 auto;
  padding: var(--padding-mobile);
}

/* Responsive padding adjustments */
@media (min-width: 640px) {
  #root {
    padding: var(--padding-tablet);
  }
}

@media (min-width: 1024px) {
  #root {
    padding: var(--padding-desktop);
  }
}

/* Header styling */
header {
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--secondary-color);
}

header h1 {
  font-size: 2.5rem;
  color: var(--main-color);
  margin-bottom: 0.5em;
}

header p {
  font-size: 1.25rem;
  color: var(--secondary-color);
}
